<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109588620154-o2t06um2ugppaf8ufqjfkkrq6a54hv0l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109588620154-o2t06um2ugppaf8ufqjfkkrq6a54hv0l</string>
	<key>API_KEY</key>
	<string>AIzaSyB3kLHKg4F9NgyeOQ4LGlCMRCW67ejCvXs</string>
	<key>GCM_SENDER_ID</key>
	<string>109588620154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alphabetgreenenergy.alphabetGreenEnergy</string>
	<key>PROJECT_ID</key>
	<string>alphabet-greens</string>
	<key>STORAGE_BUCKET</key>
	<string>alphabet-greens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109588620154:ios:1ac6191d72e10755602cc3</string>
</dict>
</plist>